
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  background-color: #73AEDB;
  text-align: center;
  color:#fcf064;
  font-size: 3em;
}

@media (max-width: 1024px) {
  header {
    background-color: red; 
  }
  header > img {
    height: 204.8px;
  }
}

@media (max-width: 520px) {
  header {
    background-color: silver;
  }
  header > img {
    height: 104px;
  }
}

footer {
  background-color:  black;
  text-align: center;
  color:lightblue;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

